*{
    margin: 0;
    padding: 0;
    }

    .titulo {
        font-family: Arial, Helvetica, sans-serif;

    }
    
    .login {
      
     position: absolute;
     top: 300px;
left: 90px;
transform: translateX(2%) translateY(100%);
    }

    .login,.img {
        width: 50%;
        background-image: url('../img/landing/fondo.jpg');
        height: 50px;
    }

    .btn, .btn-default, .submit {
       
        outline: none;
        width: 150px;
        font-size: 18px;
        border-radius: 20px;
        background: #E82D2E;
        color:rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;

    }

    h1{
        font-size: 25px;
         color: rgb(133, 133, 133);
         font-family: Arial, Helvetica, sans-serif;
    }

    .ff {

        font-size: 15px;
         color: aliceblue;
         font-family: Arial, Helvetica, sans-serif;

    }
